//  Footer Section Begin 
footer.footer_section
  article.container.max-w-9
    .col.about
      .footer_about
        .fa_logo
          a(href="./index")
            img(src="./images/logo.png" alt="logo")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua lacus vel facilisis.
        .fa_social
          a.social(href="#")
            i.fab.fa-facebook-f
          a.social(href="#")
            i.fab.fa-twitter
          a.social(href="#")
            i.fab.fa-youtube
          a.social(href="#")
            i.fab.fa-instagram
    .col.editor
      .editor_choice
        .section_title
          h5 Editor's Choice
        .ec_item
          .ec_pic
            img(src="./images/trending/editor-1.jpg" alt="editor")
          .ec_text 
            h6 
              a(href="#") A Monster Prom poster got hijacked for a Papa Roach concert...
            ul
              li
                i.far.fa-clock Aug 12,2020
              li
                i.far.fa-comment 28
        .ec_item
          .ec_pic
            img(src="./images/trending/editor-2.jpg" alt="editor")
          .ec_text 
            h6 
              a(href="#") A Monster Prom poster got hijacked for a Papa Roach concert...
            ul
              li
                i.far.fa-clock Aug 12,2020
              li
                i.far.fa-comment 28
    .col.tags
      .tags_cloud
        .section_title
          h5 Tags Cloud
        .tags_list
          a(href="#")
            span Gaming
          a(href="#")
            span Platform
          a(href="#")
            span PlayStation
          a(href="#")
            span Hardware
          a(href="#")
            span Reviews
          a(href="#")
            span Simulation
          a(href="#")
            span Strategy
          a(href="#")
            span Scientific
          a(href="#")
            span References
          a(href="#")
            span Role-playing
          a(href="#")
            span Adventure
  //  Footer Section End