// Hero Section Begin 
section.hero_section
  article.container
    div.commend
      div.hs_text
        .label
          span PlayStation
        h3 Downwell and Space Hulk: Tactics are coming to Xbox Game Pass for PC
        .ht_meta
          img(src="./images/hero/meta-pic.jpg" alt="meta")
          ul
            li by Marcin Jankowski
            li Aug 05, 2020
    .posts
      .trending_post
        .section_title
          h5 Treding posts
        .trending_slider.carousel
          .start_outer
            .stage
              .cloned#lastClone
                .single_trending_item
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-2.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 172
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-6.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 124
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-8.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 7
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-4.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 14   
              .cloned
                .single_trending_item
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-1.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 101
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-7.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 2
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-3.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 19
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-8.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 17
              .cloned
                .single_trending_item
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-4.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 7
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-5.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 12
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-7.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 4
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-4.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 15
              .cloned
                .single_trending_item
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-4.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 30
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-5.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 18
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-7.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 9
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-4.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 10
              .cloned
                .single_trending_item
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-2.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 172
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-6.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 124
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-8.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 7
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-4.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 14   
              .cloned#firstClone
                .single_trending_item
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-1.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 101
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-7.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 2
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-3.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 19
                  .trending_item
                    .ti_pic
                      img(src="./images/trending/trending-8.jpg" alt="images")
                    .ti_text
                      h6
                        a(href="#") Jalopy developer is making a game where you 'build stuff...
                      ul
                        li
                          i.far.fa-clock Aug 01, 2020
                        li
                          i.far.fa-comment 17
          .nav
            button(type="button" role="presentation").prev#prevBtn
              span.arrow_carrot-left
                i.fas.fa-angle-left
            button( type="button" role="presentation").next#nextBtn
              span.arrow_carrot-right
                i.fas.fa-angle-right
    .hero_slider.carousel.loaded.drag
      .stage_outer
        .stage
          //-mixin +img-bg
          div.image-sliderfade.fade(style={'width':'100%'})
            +img-bg(
              './images/hero/hero-2.jpg',
                "image"
              )(class='hs_item')
          div.image-sliderfade.fade(style={'width':'100%'})
            +img-bg(
              './images/hero/hero-3.jpg',
                "image"
              )(class='hs_item')
          div.image-sliderfade.fade(style={'width':'100%'})
            +img-bg(
              './images/hero/hero-1.jpg',
                "image"
              )(class='hs_item')
// Hero Section End
