// Latest Preview Section Begin
section.latest-preview-section
  article.container.m-w-ds
    .preview
      .section_title
        h5 Latest Preview
    .slider_latest  
      .lp_slider.carousel
        .stage_outer
          .ol_stage(style={'width':'4388px'})
            //- old Item  
            .item.cloned_slider.active(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-1.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '101'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-2.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '15'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-3.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '150' 
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-4.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '30'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-1.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '40'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-2.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '70'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-3.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '88'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-3.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '75'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-3.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '82'
                  )
            .item.cloned_slider(style={'width':'292.5px'})
              .col_item
                .lp_item
                  +item-pre(
                    './images/latest-preview/lp-3.jpg',
                    'latest-preview',
                    '7.5',
                    'Teamfight Tactics is in chaos after patch...',
                    ' Aug 01, 2020',
                    '32'
                  )
      .dots
        button(type="button").dot.active
          span
        button(type="button").dot
          span
        button(type="button").dot
          span
        button(type="button").dot
          span
    .nav
      button(type="button" role="presentation").prev.is-hidden#button--right
        span.arrow_carrot-left
          i.fas.fa-angle-left
      button( type="button" role="presentation").next#button--left
        span.arrow_carrot-right
          i.fas.fa-angle-right

// Latest Preview Section End
