//  Videos Guide Section Begin 
section.videos_guide_section
  article.container.m-w-ds
    .col
      .section_title
        h5 Videos guide
    .tab_content
      .tab_pane.fade.active(role='tabpanel')
        .vg_slider
          .carousel.loaded
            .start_outer
              .stage_videos(style={'width':'5080px'})
                .old_item.cloned#last(style={'width':'1170px'})
                  .Collection.col-lg
                    .section
                      .col-md
                        +vid(
                          './images/videos/videos-1.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )
                      .col-md
                        +vid(
                          './images/videos/videos-2.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )
                    .section
                      .col-m
                        +vid(
                          './images/videos/videos-3.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-5.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-4.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(class="font")
                .old_item.cloned.active(style={'width':'1170px'})
                  .Collection.col-lg
                    .section
                      .col-md
                        +vid(
                          './images/videos/videos-1.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )(id='videos1')
                      .col-md
                        +vid(
                          './images/videos/videos-2.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )(id='videos2')
                    .section
                      .col-m
                        +vid(
                          './images/videos/videos-3.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(id='videos3')(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-5.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(id='videos4')(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-4.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(id='videos5')(class="font")
                .old_item.cloned(style={'width':'1170px'})
                  .Collection.col-lg
                    .section
                      .col-md
                        +vid(
                          './images/videos/videos-1.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )(id='videos6')
                      .col-md
                        +vid(
                          './images/videos/videos-2.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )(id='videos7')
                    .section
                      .col-m
                        +vid(
                          './images/videos/videos-3.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(id='videos8')(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-5.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(id='videos9')(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-4.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(id='videos10')(class="font")
                .old_item.cloned#first(style={'width':'1170px'})
                  .Collection.col-lg
                    .section
                      .col-md
                        +vid(
                          './images/videos/videos-1.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )
                      .col-md
                        +vid(
                          './images/videos/videos-2.jpg',
                          'videos',
                          'THROUGH THE AGES FIRST EXPANSION WILL BE RELEASING ON DIGITAL PLATFORMS...'
                        )
                    .section
                      .col-m
                        +vid(
                          './images/videos/videos-3.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-5.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(class="font")
                      .col-m
                        +vid(
                          './images/videos/videos-4.jpg',
                          'videos',
                          'THis gam,ing laptop with Gtx 1660 ti and of ram is'
                        )(class="font")


    .btn_nav
      button.btn_prev#prev-btn(type="button" role="presentation")
        i.fas.fa-angle-left
      button.btn_next#next-btn(type="button" role="presentation")
        i.fas.fa-angle-right

//  Videos Guide Section End 
