header.header_section
  .ht_options
    .container
      .item_options
        .options
          .ht-widget
            ul
              li
                i.far.fa-clock
                span#clock
              li.signUp-switch#login-open 
                i.fas.fa-sign-in-alt 
                | Login /
              li.signUp-switch#signUp-open
                | Sign up
        .options_social
          .ht-social
            a.social(href="#")
              i.fab.fa-facebook-f
            a.social(href="#")
              i.fab.fa-twitter
            a.social(href="#")
              i.fab.fa-youtube
            a.social(href="#")
              i.fab.fa-instagram
            a.social(href="mailto:")
              i.far.fa-envelope
              
  .logo
    .container
      .center_logo
        a.logo_img(href='./index.html')
          img(src="./images/f-logo.png" alt="logo")
  .nav_options
    .container_options
      .menu_options#menu_open
        i.fas.fa-bars
      .nav_search#search_open
        i.fas.fa-search
      .nav_menu
        ul
          li.active
            a(href="./index.html")
              span Home
          li.mega_menu
            a(href="#")
              span Platform
                i.fas.fa-angle-down
            .mega_wrapper
              ul.mw_nav
                li
                  a(href="#")
                    span Playstation
                li
                  a(href="#")
                    span Windows
                li
                  a(href="#")
                    span Mobile
                li
                  a(href="#")
                    span Xbox
              .mw_post
                  .mw_post_item
                    .mw_pic
                      img(src="../images/megamenu/mm-1.jpg", alt="jpg")
                    .mw_text
                      h6
                        a( href="#") A Monster Prom poster got hijacked for a Papa Roach concert...
                      ul
                        li.before
                          i.far.fa-clock May 03, 2020
                        li
                          i.far.fa-comment 12
                  .mw_post_item
                    .mw_pic
                      img(src="../images/megamenu/mm-2.jpg", alt="jpg")
                    .mw_text
                      h6
                        a( href="#") A new Borderlands 3 trailer introduces Moze and her...
                      ul
                        li.before
                          i.far.fa-clock May 03, 2020
                        li
                          i.far.fa-comment 10
                  .mw_post_item
                    .mw_pic
                      img(src="../images/megamenu/mm-3.jpg", alt="jpg")
                    .mw_text
                      h6
                        a( href="#") Teamfight Tactics is in chaos after today's patch...
                      ul
                        li.before
                          i.far.fa-clock May 03, 2020
                        li
                          i.far.fa-comment 3
                  .mw_post_item
                    .mw_pic
                      img(src="../images/megamenu/mm-4.jpg", alt="jpg")
                    .mw_text
                      h6
                        a( href="#") Borderlands 2 dev explains why there's mysterious boxes...
                      ul
                        li.before
                          i.far.fa-clock May 03, 2020
                        li
                          i.far.fa-comment 9
                  .mw_post_item
                    .mw_pic
                      img(src="../images/megamenu/mm-5.jpg", alt="jpg")
                    .mw_text
                      h6
                        a( href="#") Capcom asks select fans to test new Resident Evil game
                      ul
                        li.before
                          i.far.fa-clock May 03, 2020
                        li
                          i.far.fa-comment 6
          li.mega_menu_li
            a(href="#")
              span Pages
                i.fas.fa-angle-down
            ul.dropdown
              li
                a(href="./categories-list.html") Categories
              li
                a(href="./categories-grid.html") Categories grid
              li
                a(href="./typography.html") Typography
              li
                a(href="./details-post-default.html") Post default
              li
                a(href="./details-post-gallery.html") Post gallery
              li
                a(href="./details-post-review.html") Post review
              li
                a(href="./contact.html") Contact
          li
            a(href="#")
              span Reviews
          li
            a(href="#")
              span Windows
          li
            a(href="#")
              span Videos







