.loader#loading
    svg(id="mainSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600")
        g(id="food" fill="#F1B8AA")
            circle(id="startFood" cx="450" cy="300" r="9")
            circle(cx="500" cy="300" r="9")
            circle(cx="550" cy="300" r="9")
            circle(cx="600" cy="300" r="9")
            circle(cx="650" cy="300" r="9")
            circle(cx="700" cy="300" r="9")
        path(id="pacman" d="M400,300a40,40,0,1,0-40,40,40,40,0,0,0,40-40" fill="none" stroke="#F8F800" stroke-miterlimit="10" stroke-width="80" opacity="1")

